.green-text{color: green}

.yellow-text{color: #b7b734
}

.red-text{color: red}

.blue-text{color: blue}

.purple-text{color: purple}

.orange-text{color: #db9e49
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
}

#world-map{
    max-width: 1200px;
    flex-grow: 2;
}



#countryContainer{
    background-color: #c2cfb0;
    padding: 10px;
    font-family: calibri, sans serif;
    font-size: large;
    border-style: groove;
    border-color: #d8fb98;
    border-radius: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    /*height: border-box;*/
}

ul {
    list-style: none;
    column-count: 3;
    display: flex;
}
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*justify-items: normal}*/

.flag{
    max-width: 30px;
}
